@font-face {
  font-family: 'Noto';
  src: url('../asset/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

body {
  font-family: 'Noto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 150px;
}

.intro {
  width: 40%;
  line-height: 35px;
  font-size: 18px;
}

.mantra {
  position: absolute;
  bottom: 10px;
  border: 3px double #0b3e91;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  body {
    margin-top: 50px;
  }
  .intro {
    width: 80%;
    font-size: 16px;
  }
}